table {
  border-collapse: collapse;
  empty-cells: hide;
}
td {
  border: 1px solid lightgray;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}
td:first-child {
  padding-right: 200px;
}
tr:first-child {
  font-weight: bold;
}
tr:nth-of-type(even) {
  background: Gainsboro;
}
